#div {
    padding: 20px 90px;
    background-color: steelblue;
    color: black;
  }

  #div1 {
    background-color: steelblue;
  }

  #div2 {
    background-color: steelblue;
    color: black;
  }

  textarea {
    background-color: beige;
  }

  table{
    background-color: beige;
  }

  