#div {
    padding: 20px 90px;
    background-color: gray;
    color: black;
  }

  #div1 {
    background-color: gray;
  }

  #div2 {
    background-color: gray;
    color: black;
  }

  textarea {
    background-color: white;
  }

  table{
    background-color: white;
  }

  